<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Corona-Virus Predictor</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Covid-19 Predictor</a>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Help</button>
        </div>
    </nav>

    <h2>Covid-19 Image Classifier</h2>

    <div>
        <form id="upload-file" method="post" enctype="multipart/form-data">
            <label for="imageUpload" class="upload-label">
                Choose...
            </label>
            <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
        </form>

        <div class="image-section" style="display:none;">
            <div class="img-preview">
                <div id="imagePreview">
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
            </div>
        </div>

        <div class="loader" style="display:none;"></div>

        <h3 id="result">
            <span> </span>
        </h3>

    </div>

    <div class="container">
        <div id="content" style="margin-top:2em">
            <h2>Research Papers</h2>
            <ul>
                <li><a href="https://doi.org/10.1080/07391102.2020.1788642">Classification of the COVID-19 infected patients using DenseNet201 based deep transfer learning</a></li>
                <p>A DenseNet201 based deep transfer learning (DTL) is proposed to classify the patients as COVID infected or not i.e. COVID-19 (+) or COVID (-). The proposed model is utilized to extract features by using its own learned weights on the ImageNet dataset along with a convolutional neural structure.</p>
                <img src="{{ url_for('static', filename='images/architecture.jpg') }}" alt="Proposed Architecture">
                <li><a href="https://doi.org/10.1007/s12652-020-02669-6">Rapid COVID-19 diagnosis using ensemble deep transfer learning models from chest radiographic images</a></li>
                <p>Two different ensemble deep transfer learning models have been designed for COVID-19 diagnosis utilizing the chest X-rays. Both models have utilized pre-trained models for better performance. They are able to differentiate COVID-19, viral pneumonia, and bacterial pneumonia. Both models have been developed to improve the generalization capability of the classifier for binary and multi-class problems.</p>
                <img src="{{ url_for('static', filename='images/architecture_ensemble.jpg') }}" alt="Proposed Architecture">
            </ul>
        </div>
    </div>
    
    <footer>
        <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
    </footer>
</body>

</html>
